body {
    margin: 0;
    padding: 0;
}

header{
    background-color: #b3003b;
    width: 100%;
    height: 20%;
    padding: 4% 0;
}

button {
    border-radius: 50%;
    padding: 2%;
    margin-top: 5%;
    margin-left: 2%;
}

i {
    color: #6b6464;
}

span {
    color: #ffffff;
    font-size: medium;
    font-family: cursive;
}

.buttons {
    display:flex;
    justify-content: center;
}

#header {
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: center;
}

#userState {
    visibility: hidden;
    margin-left: 20%;
}

#compState {
    margin-left: 25%;
    visibility: hidden;
} 

#header > p {
    margin: 0 2%;
}

@media screen and (min-width: 750px) {

    span {
        font-size: larger;
    }

    #userScore, #computerScore, p {
        display: inline;
        color: #ffffff;
        font-size: xx-large;
    }

    header button {
        margin-top: -0.2%;
        visibility: hidden;
    }

    #header > span, #header > button,#header > p {
        margin: 0 2%;
    }

    .state {
        display: flex;
        justify-content: flex-start;
        padding-left: 30%;
    }

    #userState {
        margin-left: -5%;
        visibility: hidden;
    }

    #compState {
        margin-left: 40%;
        visibility: hidden;
    } 
}


footer {
    background-color: #f2f2f2;
    color: #a6a6a6;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1%;
    text-align: right;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    #userState {
        margin-left: 0%;
    }
}
